.navbar-brand img {
  width: 70px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    .row .card{
      background-color: #f2f2f2;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    }

  }
  